<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
        Dashboard
    </p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'student_list' %}" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>
            Student Management
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-chart-line"></i>
        <p>
            Analytics
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'elibrary_report' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>E-Library Report</p>
            </a>
        </li>
    </ul>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'library_report' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Main Library Report</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-ticket-alt"></i>
        <p>
            Tickets
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'ticket_list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Tickets</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'ticket_add' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Ticket</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-university"></i>
        <p>
            Library Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'library:department_list' %}" class="nav-link">
                <i class="fas fa-building nav-icon"></i>
                <p>Departments</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'library:elibrary_seat_list' %}" class="nav-link">
                <i class="fas fa-desktop nav-icon"></i>
                <p>ELibrary Seats</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'library:student_list' %}" class="nav-link">
                <i class="fas fa-user-graduate nav-icon"></i>
                <p>Students</p>
            </a>
        </li>
    </ul>
</li>