<div class="col-12">
    {% include "utils/filter.html" %}
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered text-nowrap">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>S/N</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Dept</th>
                            <th>Location</th>
                            <th>Pc</th>
                            <th>Entry Time</th>
                            <th>Exit Time</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for item in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.dept }}</td>
                            <td>{{ item.location }}</td>
                            <td>{{ item.pc }}</td>
                            <td>{{ item.entry_time }}</td>
                            <td>{{ item.exit_time }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center"><i class="fas fa-database"></i> No data available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>    
        </div>
        {% include "utils/pagination.html" with data=data %}
    </div>
</div>