{% extends "base.html" %}

{% block title %}Tickets{% endblock %}

{% block content_header %}
    Ticket List
{% endblock content_header %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active">Tickets</li>
{% endblock breadcrumb %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered text-nowrap">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>S/N</th>
                            <th>Ticket ID</th>
                            <th>Title</th>
                            <th>Issue Type</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Reported By</th>
                            <th>Reporter ID</th>
                            <th>Type</th>
                            <th>Reported At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for item in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><span class="badge badge-primary">#{{ item.id }}</span></td>
                            <td>{{ item.title|truncatechars:30 }}</td>
                            <td>{{ item.get_issue_type_display }}</td>
                            <td>{{ item.description|truncatechars:20 }}</td>
                            <td>
                                {% if item.status == 'open' %}
                                    <span class="badge bg-gray">{{ item.get_status_display }}</span>
                                {% elif item.status == 'in_progress' %}
                                    <span class="badge bg-warning">{{ item.get_status_display }}</span>
                                {% elif item.status == 'resolved' %}
                                    <span class="badge bg-success">{{ item.get_status_display }}</span>
                                {% elif item.status == 'closed' %}
                                    <span class="badge bg-danger">{{ item.get_status_display }}</span>
                                {% else %}
                                    <span class="badge bg-light text-dark">{{ item.get_status_display }}</span>
                                {% endif %}
                            </td>
                            <td>{{ item.creator_name }}</td>
                            <td><span class="badge badge-info">{{ item.creator_id_no }}</span></td>
                            <td>{{ item.creator_type }}</td>
                            <td>{{ item.created_at|date:"SHORT_DATETIME_FORMAT"|upper }}</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a href="{% url 'ticket_edit' item.id %}" class="btn btn-sm btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="11" class="text-center"><i class="fas fa-database"></i> No data available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>    
        </div>
        {% include "utils/pagination.html" with data=data %}
    </div>
</div>
{% endblock %}